main{
    display: grid;
grid-template-columns: 200px 200px 200px;
grid-gap: 0px;
}

app-square{
    border: 1px gray solid;
height: 200px;
width: auto;
background-color: rgb(116, 116, 116);
font-size: 100px;
}