
<div class="list-group" *ngFor="let booking of bookings">
    <div class="list-group-item mb-1" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <a routerLink="/edit/{{booking.id}}" class="mb-1 h5 text-decoration-none">{{booking.name}}</a>
        <button class="btn btn-sm btn-danger" (click)="deleteBooking(booking)">X</button>
      </div>
      <p class="mb-1">von {{booking.startDate | date: 'dd.MM.yy'}} bis {{booking.endDate | date: 'dd.MM.yy'}}</p>
      <small>Room: {{booking.roomNumber}}</small>
    </div>
  </div>
