
<div class="card">
    <div class="card-header">
        <h5>Neue Buchung</h5>
    </div>
    <div class="card-body">
        <form action="">
            <div class="row mb-3">
                <div class="col">
                    <!-- ID -->
                    <label class="form-label">ID</label>
                    <input name="input_id" [(ngModel)]="booking.id" class="form-control" type="number">
                </div>
                <div class="col">
                    <!-- RoomNumber -->
                    <label class="form-label">Zimmernummer</label>
                    <input name="input_roomNmber" [(ngModel)]="booking.roomNumber" class="form-control" type="number">
                </div>
            </div>
            <!-- ROW hat immer die länge von 12 Einheiten -->
            <div class="row mb-3">
                <div class="col">
                    <!-- Name -->
                    <label class="form-label">Vor- und Nachname</label>
                    <input name="input_name" [(ngModel)]="booking.name" class="form-control" type="text">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <!-- startdate -->
                    <label class="form-label">Startdatum</label>
                    <input name="input_startDate" [value]="booking.startDate | date:'yyyy-MM-dd'" (input)="dateChanged($event,true)" class="form-control" type="date">
                </div>
                <div class="col">
                    <!-- enddate -->
                    <label class="form-label">Enddatum</label>
                    <input name="input_endDate" [value]="booking.endDate| date:'yyyy-MM-dd'" class="form-control" (input)="dateChanged($event,false)" type="date">
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
<button (click)="save()" class="btn btn-primary">Submit</button>
    </div>
</div>