<!-- 

    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
-->
<div class="card">
    <div class="card-header">
        <h5>Neue Buchung</h5>
    </div>
    <div class="card-body">
        <form action="">
            <div class="row mb-3">
                <div class="col">
                    <!-- ID -->
                    <label class="form-label">ID</label>
                    <input name="input_id" [(ngModel)]="booking.id" class="form-control" type="number">
                </div>
                <div class="col">
                    <!-- RoomNumber -->
                    <label class="form-label">Zimmernummer</label>
                    <input name="input_roomNmber" [(ngModel)]="booking.roomNumber" class="form-control" type="number">
                </div>
            </div>
            <!-- ROW hat immer die länge von 12 Einheiten -->
            <div class="row mb-3">
                <div class="col">
                    <!-- Name -->
                    <label class="form-label">Vor- und Nachname</label>
                    <input name="input_name" [(ngModel)]="booking.name" class="form-control" type="text">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <!-- startdate -->
                    <label class="form-label">Startdatum</label>
                    <input name="input_startDate" [value]="booking.startDate | date:'yyyy-MM-dd'" (input)="dateChanged($event,true)" class="form-control" type="date">
                </div>
                <div class="col">
                    <!-- enddate -->
                    <label class="form-label">Enddatum</label>
                    <input name="input_endDate" [value]="booking.endDate| date:'yyyy-MM-dd'" class="form-control" (input)="dateChanged($event,false)" type="date">
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
<button (click)="save()" class="btn btn-primary">Submit</button>
    </div>
</div>